/* https://blog.wotw.pro/tag/rofi/ */
configuration {
	modi: "drun";
	font: "Deja Vu Mono 12";
	combi-modi: "window,drun";
	show-icons: true;
	icon-theme: "Adwaita";
	terminal: "termite";
	location: 0; 
	cycle: true;
	sidebar-mode: true;
}
@theme "Monokai.rasi"
/* vim: ft=css
