configuration {
	modi: "window,drun,ssh,combi";
	theme: "Monokai.rasi";
	font: "Deja Vu Mono 12";
	combi-modi: "window,drun";
	show-icons: true;
	icon-theme: "Adwaita";
	terminal: "termite";
	location: 0; 
}
/* vim:ft=css
